@import url("https://fonts.googleapis.com/css?family=Montserrat");
html,
body {
  margin: 0;
  font-family: Montserrat;
}
@keyframes first {
  0% {
    background: url(photo-1469594292607-7bd90f8d3ba4.webp);
    background-size: cover;
  }
  25% {
    background: url(photo-1442323794357-25b2ec110967.webp);
    background-size: cover;
  }
  50% {
    background: url(photo-1547327132-5d20850c62b5.webp);
    background-size: cover;
  }
  75% {
    background: url(photo-1444090542259-0af8fa96557e.webp);
    background-size: cover;
  }
  100% {
    background: url(photo-1469594292607-7bd90f8d3ba4.webp);
    background-size: cover;
  }
}
header {
  background: rgba(0, 0, 0, 0.562);
  padding: 20px 10px;
}
.main-header {
  background: rgb(49, 49, 49);
  padding: 20px 10px;
}
li {
  list-style-type: none;
  display: inline-block;
}
ul {
  padding: 0;
  text-align: center;
}
nav {
  margin-top: 30px;
}
.head {
  margin: 10px;
  text-align: center;
  color: white;
}
.zagl {
  text-align: center;
  font-size: 1.5rem;
}
.per {
  margin-left: 20px;
  margin-bottom: 35px;
}
.perv {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.466);
  width: 80%;
  object-fit: cover;
  height: 50vh;
  transform: translateX(10vw);
}
.perv1 {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.466);
  width: 80%;
  object-fit: cover;
  height: 60vh;
  transform: translateX(10vw);
}
.gal {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.466);
  width: 95%;
  height: 40vh;
  border-radius: 5px;
  object-fit: cover;
  transform: translateX(3vw);
}
p {
  text-align: center;
}
.para1 {
  text-align: justify;
  margin: 20px 15px 30px 15px;
}
.flex {
  display: flex;
  flex-direction: column;
}
.a {
  text-decoration: none;
  color: white;
  margin: 0px 5px 10px 5px;
  font-size: 0.8rem;
  border: 1px solid white;
  padding: 10px;
  border-radius: 5px;
}
.che {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.zdes {
  font-size: 2rem;
  text-align: center;
  color: white;
  margin-top: 27vh;
  text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(0, 0, 0);
  padding: 0 20px;
}
.first {
  height: 100vh;
  animation: first 15s infinite;
  position: relative;
}
.zatem {
  background-color: rgba(0, 0, 0, 0.466);
  height: 100vh;
  position: relative;
}
.footer {
  background-color: rgb(49, 49, 49);
  color: white;
  font-size: 1rem;
  padding: 20px;
  box-sizing: border-box;
}
.h3 {
  margin: 5px 0 15px 0;
}
.yura {
  margin: 10px 0 0 0;
}
.vmeste {
  display: none;
}
.osn {
  display: block;
}
.spanishko {
  margin: 0 auto;
}
@media (min-width: 1366px) {
  .che {
    display: block;
  }
  .h3 {
    margin: 25px 0 30px 20px;
  }
  .first {
    height: 101vh;
    animation: first 15s infinite;
    position: relative;
    box-sizing: border-box;
  }
  .zagl {
    text-align: center;
    font-size: 2rem;
  }
  header {
    background: rgba(20, 20, 20, 0.712);
    height: 200px;
    padding: 45px 50px;
    transition: 1s;
    z-index: 2;
    box-sizing: border-box;
    transform: translate(0, -10%);
  }
  .main-header {
    background: rgb(49, 49, 49);
    height: 200px;
    padding: 45px 50px;
    transition: 1s;
    z-index: 2;
    box-sizing: border-box;
  }
  .head {
    color: white;
    font-size: 2.5rem;
    font-weight: 500;
    margin-top: 20px;
    display: inline-block;
  }
  header:hover {
    background: rgba(5, 5, 5, 0.836);
    transition: 1s;
  }
  .main-header:hover {
    background: rgb(0, 0, 0);
    transition: 1s;
  }
  .zatem {
    background-color: rgba(0, 0, 0, 0.466);
    height: 101vh;
    color: white;
    position: relative;
  }
  .zdes {
    font-size: 2rem;
    letter-spacing: 2px;
    margin: 35vh auto;
  }
  h2 {
    font-size: 3rem;
    letter-spacing: 5px;
  }
  .perv {
    width: 550px;
    height: 100%;
    border: 2px solid rgba(0, 0, 0, 0.87);
    border-radius: 30px;
    margin-left: 60px;
    display: inline-block;
    transform: translateX(0);
    position: relative;
    z-index: 1;
  }
  .per {
    text-align: center;
    margin: 70px 0 50px 0;
    font-size: 1.5rem;
  }
  .para1 {
    color: rgb(0, 0, 0);
    line-height: 40px;
    display: inline-block;
    margin: 0 50px 0 70px;
    text-align: justify;
    font-size: 1.1rem;
  }
  p {
    font-size: 1.3rem;
    padding-bottom: 20px;
  }
  .osn {
    display: inline-block;
    position: relative;
  }
  .footer {
    background-color: rgb(49, 49, 49);
    color: white;
    padding-top: 20px;
    padding-left: 30px;
    font-size: 1.2rem;
    min-height: 10vh;
    transition: 1s;
    padding-bottom: 20px;
    box-sizing: border-box;
  }
  .perv1 {
    width: 550px;
    transform: translateX(0);
    height: 100%;
    border: 2px solid rgba(0, 0, 0, 0.87);
    border-radius: 30px;
    margin-left: 60px;
    display: inline-block;
    margin-bottom: 50px;
    z-index: 1;
  }
  .gal {
    height: 45vh;
    width: 44vw;
    margin: 90px 0 30px 0;
    border-radius: 5px;
    transform: translateX(0);
    object-fit: cover;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
  }
  .galery {
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
  }
  .cont {
    margin: 80px 0 60px 100px;
    font-size: 1.4rem;
    box-sizing: border-box;
  }
  li {
    display: inline-block;
  }
  footer:hover {
    background-color: rgb(5, 5, 5);
    transition: 1s;
  }
  .a {
    margin: 0 10px;
    font-size: 0.9rem;
    padding: 15px;
    border-radius: 10px;
  }
  .a:active {
    background-color: rgba(255, 255, 255, 0.877);
    color: black;
  }
  .nav {
    display: inline-flex;
    justify-content: space-around;
    width: 40%;
    transform: translate(30%, 0);
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
  }
  .vmeste {
    position: fixed;
    border: 2px solid black;
    border-radius: 4px;
    top: 90%;
    display: block;
    left: 89%;
    width: 10%;
    box-sizing: border-box;
    height: 9vh;
    text-decoration: none;
    background: rgba(20, 20, 20, 0.753);
    z-index: 99;
    transition: 0.5s;
    padding: 3vh 5px 0 5px;
    color: white;
    font-size: 1.4rem;
    text-align: center;
  }
  .vmeste:hover {
    background: rgba(5, 5, 5, 0.836);
    transition: 0.5s;
  }
  .flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  .flex-box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .y {
    font-size: 1.1rem;
  }
  .yura {
    margin: 20px 20px 10px 20px;
  }
}
@media (min-width: 1600px) {
  .h3 {
    margin: 20px;
  }
  .che {
    display: block;
  }
  .first {
    height: 100vh;
    animation: first 15s infinite;
    position: relative;
    box-sizing: border-box;
  }
  html,
  body {
    margin: 0;
    font-family: Montserrat;
  }
  header {
    background: rgba(20, 20, 20, 0.712);
    height: 200px;
    padding: 45px 50px;
    transition: 1s;
    z-index: 2;
    box-sizing: border-box;
    transform: translate(0, -10%);
  }
  .main-header {
    background: rgb(49, 49, 49);
    height: 200px;
    padding: 45px 50px;
    transition: 1s;
    z-index: 2;
    box-sizing: border-box;
  }
  header:hover {
    background: rgba(5, 5, 5, 0.836);
    transition: 1s;
  }
  .main-header:hover {
    background: rgb(0, 0, 0);
    transition: 1s;
  }
  .zatem {
    background-color: rgba(0, 0, 0, 0.466);
    height: 100.2vh;
    color: white;
    position: relative;
  }
  .zdes {
    font-size: 2.3rem;
    letter-spacing: 2px;
    margin: 35vh auto;
  }
  h2 {
    font-size: 3rem;
    letter-spacing: 5px;
  }
  .perv {
    width: 650px;
    height: 100%;
    border: 2px solid rgba(0, 0, 0, 0.87);
    border-radius: 30px;
    margin-left: 60px;
    display: inline-block;
    position: relative;
    z-index: 1;
    transform: translateX(0);
  }
  .per {
    text-align: center;
    margin: 70px 0 50px 0;
    font-size: 1.5rem;
  }
  .para1 {
    color: rgb(0, 0, 0);
    line-height: 50px;
    display: inline-block;
    margin: 0 50px 0 70px;
    text-align: justify;
    font-size: 1.3rem;
  }
  p {
    font-size: 1.3rem;
    padding-bottom: 20px;
  }
  .y {
    font-size: 1.3rem;
  }
  .osn {
    display: inline-block;
    position: relative;
  }
  .footer {
    background-color: rgb(49, 49, 49);
    color: white;
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 20px;
    min-height: 10vh;
    font-size: 1.2rem;
    transition: 1s;
  }
  .yura {
    margin: 20px;
  }
  .perv1 {
    width: 650px;
    height: 100%;
    border: 2px solid rgba(0, 0, 0, 0.87);
    border-radius: 30px;
    margin-left: 60px;
    display: inline-block;
    margin-bottom: 50px;
    z-index: 1;
  }
  .gal {
    height: 50vh;
    width: 44vw;
    margin: 90px 0 30px 0;
    border-radius: 5px;
    transform: translateX(0);
    object-fit: cover;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
  }
  .galery {
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
  }
  .cont {
    margin: 80px 0 60px 100px;
    font-size: 1.4rem;
    box-sizing: border-box;
  }
  li {
    display: inline-block;
  }
  footer:hover {
    background-color: rgb(5, 5, 5);
    transition: 1s;
  }
  .a {
    margin: 0 10px;
    padding: 15px;
    border-radius: 10px;
    font-size: 1.1rem;
  }
  .a:active {
    background-color: rgba(255, 255, 255, 0.877);
    color: black;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
  }
  .vmeste {
    position: fixed;
    border: 2px solid black;
    border-radius: 4px;
    top: 90%;
    left: 89%;
    display: block;
    width: 10%;
    box-sizing: border-box;
    height: 9vh;
    text-decoration: none;
    background: rgba(20, 20, 20, 0.753);
    z-index: 99;
    transition: 0.5s;
    padding: 3vh 5px 0 5px;
    color: white;
    font-size: 1.5rem;
    text-align: center;
  }
  .vmeste:hover {
    background: rgba(5, 5, 5, 0.836);
    transition: 0.5s;
  }
  .flex {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }
  .flex-box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .zagl {
    text-align: center;
    font-size: 2rem;
  }
  .nav {
    display: inline-flex;
    justify-content: space-around;
    width: 40%;
    transform: translate(50%, 0);
  }
}
